﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
    <div style="display:inline-block;border: 20px solid tan;">
        <img src="~/images/banner.png" style="height:200px;padding-top: 20px;" /><br /><br />
        <p>The @Html.Raw(RsItemsController.itemLimit.ToString()) best items to alch in OSRS.</p>
        <form class="form-inline">
            <label for="f2pOnlyYes" class="control-label">F2P</label>
            <input type="radio" name="f2pOnly" value="Yes" id="f2pOnlyYes" />&nbsp;
            <label for="f2pOnlyNo" class="control-label">Members</label>
            <input type="radio" name="f2pOnly" value="No" id="f2pOnlyNo" checked />
        </form><br />
        <img id="imgNatureRune" />Nature Rune: <span id="txtNatureRune"></span> gp<br /><br />
        <table id="MainTable" class="table-striped" style="border: 1px solid black;">
            <!--<caption style="text-align:center">Best High Alch Items Today</caption>-->
            <thead>
                <tr>
                    <th></th>
                    <th>Item</th>
                    <th>GE Price</th>
                    <th>High Alch Value&nbsp;<span class="glyphicon glyphicon-question-sign" modal-info="HighAlchValue"></span></th>
                    <th>Buy Limit&nbsp;<span class="glyphicon glyphicon-question-sign" modal-info="BuyLimit"></span></th>
                    <th>Profit&nbsp;<span class="glyphicon glyphicon-question-sign" modal-info="Profit"></span></th>
                    <th>% Profit&nbsp;<span class="glyphicon glyphicon-question-sign" modal-info="PercentProfit"></span></th>
                    <th>Max Profit per 4 hours&nbsp;<span class="glyphicon glyphicon-question-sign" modal-info="MaxProfit"></span></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>

        <!-- This is the modal that shows more info about each table column-->
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 id="modalTitle" class="modal-title"></h4>
                    </div>
                    <div class="modal-body">
                        <p id="modalBody"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <a href="https://paypal.me/TransferCube" target="_blank"><p>Did this page help you? Consider donating to keep it running :)</p></a>
        <!--<a href="https://paypal.me/TransferCube" target="_blank"><img border="0" style="padding: 0px 0px 5px 0px;" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" /></a>-->
    </div>